@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap");

.loading {
  padding: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  color: rgb(51, 190, 51);
  font-family: "Comic Neue", cursive;
}

.error {
  padding: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  font-family: "Comic Neue", cursive;
  color: rgb(193, 37, 37);
}

.quote {
  margin: 1rem;
  padding: 1rem;
  font-family: "Comic Neue", cursive;
}

.quote > h3 {
  font-family: "Comic Neue", cursive;
  text-align: justify;
}

.quote > p {
  font-family: "Comic Neue", cursive;
  text-align: center;
  font-style: italic;
}
